.form {
	width: 100%;
	padding: 30px 25px;
	label {
		color: #1d2025;
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 10px;
	}
	&__line {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 30 0px;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
	&__column {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0 15px 30px 15px;
		@media (max-width: 768px) {
			margin: 0 0 30px 0;
		}
	}
	&__input {
		@include button-clear;
		height: 62px;
		background: #f9f9f9;
		border-radius: 3px;
		border: 1px solid #ededed;
		line-height: 62px;
		padding: 0 30px;
		transition: .5s;
		&:focus {
			transition: .5s;
			background: #fff;
			box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
		}
		@media (max-width: 576px) {
			height: 40px;
			line-height: 40px;
			padding: 0 15px;
		}
	}
	&__message {
		line-height: 20px;
		padding: 24px 30px;
		height: 280px;
		resize: none;
		@media (max-width: 576px) {
			height: 100px;
			padding: 13px 15px;
		}
	}
	&__button {
		@include button-clear;
		margin: 0 15px 30px auto;
		border: 1px solid #c1defd;
		border-radius: 3px;
		background: #fff;
		box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
		padding: 24px 36px;
		color: #1585ff;
		text-transform: uppercase;
		font-weight: $SemiBold;
		font-size: 12px;
		cursor: pointer;
		&:active {
			transition: .1s;
			transform: translateY(2px);
			box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
		}
		&:hover {
			background: #1585ff;
			color: #fff;
			
		}
		@media (max-width: 576px) {
			width: 100%;
		}
	}
}