.main-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 40px;
	background: #fff;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
	margin-bottom: 50px;
	@media (max-width: 576px) {
		margin-bottom: 30px;
	}
	.nav-wrap {
		@media (max-width: 768px) {
			align-self: center;
			margin-bottom: 20px;
		}
		nav {
			@media (max-width: 768px) {
				display: flex;
    			justify-content: center;
			}
		}
	} 
	h1 {
		font-size: 22px;
		color: #1d2025;
		font-weight: 500;
		@media (max-width: 992px) {
			font-size: 18px;
		}
	}
	ol {
		background: transparent;
		margin-bottom: 0;
		padding: 5px 0;
		li,
		a {
			font-size: 14px;
			color: #76797e;
			@media (max-width: 992px) {
				font-size: 10px;
			}
			@media (max-width: 768px) {
				align-self: center;
			}
		}
	}
	@media (max-width: 768px) {
		flex-direction: column;
	}
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "|"
}
.tooltip-wrap {
	display: flex;
	align-self: center;
	height: 38px;
	@media (max-width: 768px) {
		width: 100%;
    	justify-content: space-around;
	}
	@media (max-width: 576px) {
    	flex-direction: column;
    	height: auto;
    	align-items: center;
	}
}
.tooltip-wrap-income,
.tooltip-wrap-traffic {
	display: flex;
	margin-left: 76px;
	h6 {
		font-size: 12px;
		color: #76797e;
		text-transform: uppercase;
	}
	span {
		font-weight: 500;
		font-size: 18px;
		color: #1585ff;
		white-space: nowrap;
		align-self: flex-end;
	}
	@media (max-width: 992px) {
		margin-left: 20px;
	}
	@media (max-width: 768px) {
    	margin-left: 0;
	}
	@media (max-width: 576px) {
    	margin-top: 20px;
	}
}
.tooltip-wrap-text {
	padding: 5px;

}
.arrow {
	display: flex;
	align-items: flex-end;
	span {
		margin-left: 5px;
	}
}
.diagram{
	@include diagram;
	.lines_red {
		@include lines;
		&:hover {
			background: red;
		}
	}
	.lines_blue {
		@include lines;
		&:hover {
			background: blue;
		}
	}	
}

.tooltip.colored {
	.tooltip-inner {
		background: red;
	}
	.arrow {
		&:before {
			border-top-color: red;
			border-bottom-color: red;
		}
	}
}
.tooltip.coloblue {
	.tooltip-inner {
		background: blue;
	}
	.arrow {
		&:before {
			border-top-color: blue;
			border-bottom-color: blue;
		}
	}
}